body {
    margin: auto;
}

/* * {
    max-width: 1920px;
} */

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
}

#header,
#content {
    text-align: center;
}

#main {
    /* height: 100%;
    background: #3d3a3a; */
    margin: 0 auto;
}

#header {
    height: 100vh;
    background: linear-gradient(rgb(179, 98, 255) 80%, rgb(231, 173, 255), rgb(225, 149, 255), rgb(241, 171, 255));
    align-items: center;
}

#content {
    /* height: fit-content; */
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-self: flex-start;
    background: whitesmoke;
}

.bubbleWrapper {
    padding: 5% 25% 5% 25%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-self: flex-start;
    color: rgb(56, 56, 56);
    font: 1.2em "Montesserat", sans-serif;
}

.inlineContainer {
    display: inline-flex;
}

.inlineContainer.own {
    flex-direction: row-reverse;
}

.inlineIcon {
    width: 20px;
    object-fit: contain;
}

.ownBubble {
    box-shadow: 0px 0px 12px rgba(127, 127, 127, 0.5);
    min-width: 55%;
    /* max-width: 85%; */
    min-height: 55%;
    /* max-height: 85%; */
    padding: 14px 18px;
    margin: 5% 20% 20%;
    background-color: whitesmoke;
    border-radius: 8px 8px 0 8px;

}

.otherBubble {
    box-shadow: 0px 0px 12px rgba(127, 127, 127, 0.5);
    width: 55%;
    /* max-width: 55%; */
    height: 55%;
    /* max-height: 85%; */
    padding: 14px 18px;
    margin: 6px 8px;
    background-color: whitesmoke;
    border-radius: 8px 8px 8px 0;

}

.own {
    align-self: flex-end;
}

.other {
    align-self: flex-start;
}

.hd1,
.hd2,
.hd3 {
    border: 10px solid black;
    background: blue;
    margin: 5%;
}

.hd2 {
    margin: 2.5%;
}

.cont1 img {
    max-height: 25%;
    max-width: 25%;
}

.cont2 {
    background: whitesmoke;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
}

.cont2 img {
    max-height: 90%;
    margin-left: 15%;
}

.cont3 {
    background: whitesmoke;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
}

#descr {
    vertical-align: middle;
    font: 1.2em "Montesserat", sans-serif;
    width: 51%;
}

#border {
    display: inline-block;
    height: 441px;
    width: 40%;
    min-height: 10vh;
    min-width: 25vw;
    position: relative;
    margin: 50px 0 50px 0;
    z-index: 0;
    border-radius: 0 210px 210px 0;
    background: linear-gradient(to right, #292596, #C385D4) border-box;
}

.cont3 div:nth-child(4n+4) {
    transform: scale(-1, 1);
    justify-self: end;
}

#border:before {
    content: "";
    width: 87%;
    height: 65%;
    display: block;
    z-index: -1;
    position: relative;
    padding: 15px;
    background: linear-gradient(to right, #292596, #C385D4) border-box;
    top: 60px;
    border-radius: 0 210px 210px 0;
}

#border:after {
    content: "";
    width: 83%;
    height: 60%;
    display: block;
    z-index: -2;
    padding: 40px;
    background: whitesmoke;
    position: absolute;
    top: 45px;
    border-radius: 0 210px 210px 0;
}

#border img {
    position: relative;
    top: -55%;
    z-index: 2;
    border-radius: 0 210px 210px 0;
    width: 87%;
    height: 65%;
    object-fit: cover;
    background-origin: border-box;
}

.cont4 {
    background: linear-gradient(50deg, #ff60f7, #292596) border-box;
    height: 250vh;
}

#courses {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(4, 0.75fr);
    grid-template-columns: repeat(3, 0.75fr);
    margin: auto 5%;
}

#card {
    background-color: whitesmoke;
    margin: 5%;
    border-radius: 25px;
    padding: 5%;
    font: 1em "Montesserat", sans-serif;
    height: 800px;
}

#card img {
    object-fit: cover;
    width: 90%;
    margin: 5%;
}

#card button {
    background-color: orange;
    border-radius: 5px;
    border: none;
    width: 70%;
    height: 10%;
    align-self: center;
    color: white;
    font: 1.2em "Montesserat", sans-serif;
}

#cont5 {
    height: 210vh;
    width: 100%;
    background-color: whitesmoke;
    font: 1.2em "Montesserat", sans-serif;
}

#learn {
    height: 20vh;
    width: 85vw;
    display: flex;
    flex-direction: row;
    margin: 0 0 0 5vw;
}

#learn h1 {
    width: 25vw;
    font: 3em "Montesserat", sans-serif;
    font-weight: bold;
    margin-right: 5vw;
}

#learn p {
    width: 50vw;
    font: 1.8em "Montesserat", sans-serif;
    font-weight: lighter;
}

#row {
    margin: 0 20% 0 20%;
    justify-items: stretch;
    align-items: stretch;
    width: 35%;
    height: 190vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly
}

#what {
    color: black;
    padding: 5%;
}

#what img {
    height: 15vh;
}

#description {
    font: 1.5em "Montesserat", sans-serif;
    ;
}

#cont6 {
    height: 100vh;
    width: 100%;
    background-color: whitesmoke;
    font: 1.2em "Montesserat", sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#cont6 h1 {
    padding: 0 25vw 0 0vw;
    font: 3em "Montesserat", sans-serif;
    font-weight: bold;
}

#cont6 img {
    height: 70vh;
}

#docs {
    width: 60vw;
    background-color: whitesmoke;
    font: 1.2em "Montesserat", sans-serif;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

#docs img {
    height: 15vh;
}

#cont7 {
    height: 100vh;
    width: 100%;
    background-color: whitesmoke;
    font: 1.2em "Montesserat", sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

mark {
    background: #781bb6;
    padding: 0 3px;
    color: whitesmoke;
}

#feature {
    margin: 0 10vw 0 10vw;
    width: 25%;
    background-color: whitesmoke;
    font: 1.2em "Montesserat", sans-serif;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
}

#feature h1 {
    margin: 0;
    font: 3em "Montesserat", sans-serif;
    font-weight: bold;
}

#trainee {
    margin: 0vw 0 0 5vw;
    width: 50vw;
    height: 70vh;
    background-color: whitesmoke;
    font: 1.2em "Montesserat", sans-serif;
    display: flex;
    flex-direction: column;
}

#trainee h2 {
    margin: 0 10vw 5vw 0;
    font: 1.3em "Montesserat", sans-serif;
    font-weight: bold;
    font-stretch: expanded;
}


#trainee h3 {
    margin: 0 10vw 0 0;
    font: 1.3em "Montesserat", sans-serif;
    font-weight: lighter;
}

#footer {
    height: 100vh;
    width: 100%;
    background: linear-gradient(50deg, #ff60f7, #292596) border-box;
}

#fbx {
    height: 70vh;
    width: 40vw;
    margin: 0 10vw;
    padding-bottom: 7vh;
    color: whitesmoke;
    font: 1.5em "Montesserat", sans-serif;
}

#fbx img {
    height: 5vh;
}

#fbx h1 {
    font: 3em "Montesserat", sans-serif;
    font-weight: bold;
    margin: 10vh 0 5vh 0;
}

#fbx h2 {
    font-weight: lighter;
    margin-top: 0;
}

#contact {
    height: 100vh;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-self: flex-start;
    flex-wrap: wrap;
}

#forms {
    margin-top: 10vh;
}

.form-example {
    display: table-row;
}

.form-example label,
input {
    color: whitesmoke;
    font: 3em "Montesserat", sans-serif;
    background: transparent;
    border-radius: 15px;
    border: 3px solid whitesmoke;
    height: 10vh;
    width: 40vw;
}

.form-example label {
    padding-right: 10px;
}

#checkbox {
    margin: 2vh 0;
    line-height: 1.6;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {

    input[type='checkbox'],
    input[type='radio'] {
        --active: #275efe;
        --active-inner: #fff;
        --focus: 2px rgba(39, 94, 254, .3);
        --border: whitesmoke;
        --border-hover: #275efe;
        --background: transparent;
        --disabled: #f6f8ff;
        --disabled-inner: #e1e6f9;
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 4vh;
        width: 4vh;
        outline: none;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        margin: 0;
        cursor: pointer;
        border: 4px solid var(--bc, var(--border));
        background: var(--b, var(--background));
        transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    }

    input[type='checkbox']:after,
    input[type='radio']:after {
        content: '';
        display: block;
        left: 0;
        top: 0;
        position: absolute;
        transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    }

    input[type='checkbox']:checked,
    input[type='radio']:checked {
        --b: var(--active);
        --bc: var(--active);
        --d-o: 0.3s;
        --d-t: 0.6s;
        --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
    }

    input[type='checkbox']:disabled,
    input[type='radio']:disabled {
        --b: var(--disabled);
        cursor: not-allowed;
        opacity: 0.9;
    }

    input[type='checkbox']:disabled:checked,
    input[type='radio']:disabled:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
    }

    input[type='checkbox']:hover:not(:checked):not(:disabled),
    input[type='radio']:hover:not(:checked):not(:disabled) {
        --bc: var(--border-hover);
    }

    input[type='checkbox']:focus,
    input[type='radio']:focus {
        box-shadow: 0 0 0 var(--focus);
    }

    input[type='checkbox']:not(.switch):after,
    input[type='radio']:not(.switch):after {
        opacity: var(--o, 0);
    }

    input[type='checkbox']:not(.switch):checked,
    input[type='radio']:not(.switch):checked {
        --o: 1;
    }

    input[type='checkbox']:not(.switch) {
        border-radius: 7px;
    }

    input[type='checkbox']:not(.switch):after {
        width: 1.25vh;
        height: 3vh;
        border: 4px solid var(--active-inner);
        border-radius: 2.5px;
        border-top: 0;
        border-left: 0;
        margin-left: 1vh;
        transform: rotate(var(--r, 20deg));
    }

    input[type='checkbox']:not(.switch):checked {
        --r: 43deg;
    }
}

#send {
    width: 40vw;
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-self: flex-start;
}

#send button {
    width: 100%;
    height: 4vw;
    color: whitesmoke;
    background: orangered;
    border: none;
    border-radius: 15px;
    font: 1.5em "Montesserat", sans-serif;
    font-weight: lighter;
    margin-left: 1vw;
}

#cred {
    margin: 0 8vw;
    width: 85vw;
    border-top: solid 4px whitesmoke;
    border-radius: 1.5px;
}

#info {
    margin: 2.5vh;
    height: 20vh;
    color: whitesmoke;
    font: 1em "Montesserat", sans-serif;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    flex-wrap: wrap;
    align-content: space-between;
}

#info h2 {
    margin: 0;
    padding-bottom: 3vh;
}

.card {
    position: relative;
}

.card img {
    object-fit: cover;
    width: 90%;
    margin: 5%;
}

.card__side {
    background-color: whitesmoke;
    margin: 5%;
    border-radius: 25px;
    padding: 5%;
    font: 1em "Montesserat", sans-serif;
    height: 80%;
    transition: all 0.75s ease;
    position: absolute;
    backface-visibility: hidden;
    overflow: hidden;
}


.card__side--back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.card:hover .card__side--front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.card:hover .card__side--back {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
}